.sans-serif,
.mapboxgl-map {
  font-family: 'PT Mono', monospace;
  font-style: normal;
  font-size: 2rem;
}
a{
  color: red;
}
a:visited{
  color: red;
}

.main  {
  background-color: #fae6a3;
  width: 100vw;
}

.static-map {

  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 120vh;
}

.map-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -1;
}
.model-viewer {
  width: 100%;
  height: 400px;
/*   background-color: #70BCD1; */
}
.mapboxgl-popup {
  z-index: 100000;
  box-shadow: -8px 8px 12px -6px rgba(0,0,0,0.5);
}
.mapboxgl-ctrl-attrib-inner{
  font-size: 10px;
}
.mapboxgl-popup-content {
  padding: 1.5rem;
}

.heading.f2 {
  font-family: din-condensed,sans-serif;
  font-size: 1.7rem;
  max-width: 16rem;
}

element.style {
}
.b {
    font-weight: 700;
}
.f5 {
    font-size: 1rem;
}
.mt0{
  font-size: .85rem;
}
button.filter.active {
  background-color: #ffeb3b;
  font-weight: bold;
}

@media screen and (min-width: 30em) {
  .intro-wrapper.pt6 {
    padding-top: 11rem;
  }
  .heading.f2 {
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    line-height: 100%;
    font-style: normal;
    font-size: 3.2rem;
    max-width: 20rem;
  }
}
